/*! gridster.js - v0.6.10 - 2015-05-31
* https://dsmorse.github.io/gridster.js/
* Copyright (c) 2015 ducksboard; Licensed MIT */
h1,
h2,
h3,
p {
    margin: 10px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    background: #26941f;
}
.demo:hover .gridster {
    margin: 0 auto;
    opacity: .8;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}
.content {
    color: white;
}

/* blocks */
.gridster .gs-w {
    background: blue;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* blocks on active */
.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    background: red;
}
.gridster .gs-w.try {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 37px -169px;
}
.gridster .preview-holder {
    border: none !important;
    border-radius: 0 !important;
    background: red !important;
}
.gridster ul {
    margin: 10px;
    background-image: url("../img/Grundrisse_02.png");
    height:1225px; 
    width:2167px; 
    border: 1px solid black;
    background-color: transparent;
    background-size: 20px 20px;
    background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .1) 25%, rgba(0, 0, 0, .1) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.1) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) 76%, transparent 77%, transparent);
}
.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}
ul {
    list-style-type: none;
}
li {
    list-style: none;
    font-weight: bold;
}
.gridster-box {
    position: relative;
    width: 100%;
    height: 100%;
}
.controls {
    margin-bottom: 20px;
}
